.countdown{
    font-family: 'Red Hat Text', sans-serif;
    background-color: #241e2d;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/bg-stars.svg') top no-repeat, url('../images/pattern-hills.svg') bottom  no-repeat,#241e2d;
    background-size: contain,contain;
    overflow-x: hidden;

    .header{
        letter-spacing: 4px;
        font-weight: 100;
        text-transform: uppercase;
        position: absolute;
        color: white;
        top: 5rem;
    }
    .timer-wrap{
        max-width: 1440px;
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        .days,.hours,.minutes,.seconds{
            position: relative;
            .time{
                box-sizing: border-box;
                height: 150px;
                width: 148px;
                perspective: 350px;
                position: relative;

                .time-top{
                    border-radius: 10px;
                    color: #FB5E84;
                    height: 50%;
                    background-color: #2C2D44;
                    border-bottom: 1px black solid;
                    transform-origin: bottom ;
                    transform-style: preserve-3d;
                    transform-origin: bottom;

                }
                .always{
                    animation-iteration-count: infinite !important;
                }
                

                .flip{
                    animation: flip-down 1s ease-in-out ;
                    animation-fill-mode: forwards;
                }
                .fake-time-top{
                    @extend .time-top;
                    width: 100%;
                    animation: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    
                }
                .half-circle{
                    background-color: black;
                    height: 5px;
                    width: 10px;
                    border-bottom-left-radius: 10px;
                    top: 10px;
                    border-bottom-right-radius: 10px;
                    position: absolute;
                    z-index: 1;
                }
                .half-circle-left{
                  @extend .half-circle;
                    transform: rotate(-90deg);
                    left: -3px;
                    background-color: black;
                    top: 73px;
                    
                }
                .half-circle-right{
                    @extend .half-circle;
                    transform: rotate(90deg);
                    right: -3px;
                    top: 73px;
                    
                }
                .time-bottom{
                    @extend .time-top;
                    animation: none;
                    background-color: #343650;
                    transform-style: flat;
                }

                .time-left{
                    position: absolute;
                    font-size: 55pt;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    color: #FB5E84;
                    top: 25px;
                   

                    
                }
                .fold{
                    animation: fold 1s ease-in-out .2s;
                     
                }
            }
            .desc{      
                margin-top: 10px;
                color: white;
            }
           
        }
    }

    .icons{
        
        width: 100%;
        max-width: 140px;
        margin-top: 100px;
        justify-content: space-between;
        display: flex;
        height: 100px;
        .icon{
            cursor: pointer;
            width: 30px;
            height: 30px;
            fill: #8385A9 ;
            transition: .3s ease;
            &:hover{
                fill: #FB5E84;
            }
        }
    }
    .attribution{
       
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: #8385A9;
        text-align: center;
        a{
            color: white;
        }
    }
}


@media screen and (max-width:695px){
 
   
    .countdown{
        .timer-wrap{
            max-width: 100%;
            
          justify-content: space-around;
          margin-left: auto;
          margin-right: auto;
            .days,.hours,.minutes,.seconds{
                
               
                
                .time{
                    max-width: 100px;
                    max-height: 100px;
                    .time-left{
                        top: 15px;
                        
                        font-size: 40pt;
                    }

                    .half-circle{
                        top: 49px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:395px){
    .countdown{
        .timer-wrap{
        
            .days,.hours,.minutes,.seconds{
                
               
                
                .time{
                    max-width: 70px;
                    max-height: 70px;
                    .time-left{
                        top: 12px;
                        font-size: 25pt;
                    }

                    .half-circle{
                        top: 38px;
                    }
                }
            }
        }
    }
}
